.*
!docker/launch.sh
!docker/config/
!assets/
!bin/
!config/
!migrations/
!public/
!src/
!templates/
!translations/
!.env
!composer.json
!composer.lock
!package-lock.json
!package.json
!symfony.lock
!webpack.config.js