{% extends 'base.html.twig' %}

{% block title %}companies{% endblock %}

{% block body %}
    <div class="container">
        <div class="title">
            Ajouter une entreprise:
        </div>
        {{form(form)}}
    </div>
{% endblock %}
